.youtube-image-container {
	position: relative;
}

.youtube-image-container .youtube-image {
	position: relative;
	z-index: 1;
	opacity: 0.5;
}

.youtube-image-container .youtube-cover-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0.5;
	cursor: pointer;
}

.youtube-video-container {
	width: 100%;
	position: relative;
}

.youtube-inner-container {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
	max-width: 100%;
    margin-bottom: 15px;
}

.youtube-inner-container iframe,
.youtube-inner-container object,
.youtube-inner-container embed,
.youtube-inner-container document {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
