.App {
  text-align: center;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #666666;
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #319abb;
}

/**
 *	Global Tag Styles
 */
*,
body {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

div {
	/* margin: 10px 0; */
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

p.small {
	font-size: 0.8em;
}

img {
	max-width: 100%;
}

/**
 *	LAYOUT
 */
.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.side-padding-small {
	padding-left: 5px;
	padding-right: 5px;
}

.page-content-background {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #1fc8db;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	z-index: 1;
}

.page-content-background .image-container {
	position: absolute;
	top: -40%;
	right: -50%;
	height: 100%;
	width: 100%;
}

.page-content-background .image-container .App-logo {
	max-width: 90%;
	max-height: 90%;
	z-index: -1;
	opacity: 0.5;
}

.page-content-background .stripe {
	position: fixed;
	left: 0;
	top: 80%;
	width: 200vw;
	height: 50vh;
	transform: translate(-25vh, 0) rotate(20deg);
	background-color: rgba(255, 255, 255, 0.25);
}

.page-content-background .stripe::before {
	width: 100%;
	height: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.page-content-background .stripe::after {
	width: 100%;
	height: 5px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
}

.page-content {
	position: relative;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	transform: translate(0, 0);
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.page-content .footer {
	flex: 1;
	min-height: 80px;
}

.no-margin {
	margin: 0;
}

.small-corners {
	border-radius: 5px;
}

/**
 *	ANIMATION
 */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/**
 *	STATUS
 */
span.loading i {
	padding: 0 10px;
	color: lightsalmon;
	animation: spin infinite 2s linear;
}

span.success::after {
    font-style: normal;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f164";
	padding-left: 10px;
	color: green;
}

span.error::after {
	font-style: normal;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
	content: "\f071";
	padding-left: 10px;
	color: red;
}

/**
 *	COLORS
 */
.black-text {
	color: #3a3a3a;
}

.light {
	background: rgba(255,255,255,0.2);
	color: #3a3a3a;
	border-color: #fff;
}

.dark {
	background: rgba(0,0,0,0.5);
	color: #f1f1f1;
	border-color: #000;
}

/**
 *	Hover Effects
 */
.pointer {
	cursor: pointer;
}

.infoCursor {
	cursor: help;
}

/* CONTEXT */
.context-content {
	transition: 0.5s;
	padding: 10px 200px;
}

.context-content.highlight {
	background: rgba(255,255,0,0.5);
}

.context-controller {
	position: absolute;
	top: calc(2.5em + 10px);
	left: 10px;
	background: #aaaaaa;
	border: #ffffff solid 3px;
	border-radius: 10px;
	width: auto;
	z-index: 5;
	padding-top: 5px;
	box-shadow: -5px -3px 10px rgba(0,0,0,0.5);
}

.context-controller.last {
	top: calc(-3em - 10px);
	box-shadow: -5px 3px 10px rgba(0,0,0,0.5);
}

.context-controller-toggle {
	position: absolute;
	top: 10px;
	left: 0;
	background: #ff0000;
	width: auto;
	padding: 10px;
	transition: 0.25s;
	text-align: center;
	color: #3a3a3a;
	border-radius: 0 10px 10px 0;
}

.context-controller-toggle:hover {
	background: #ff6666;
	color: #fff;
}

.context-container.footer,
.context-container .footer {
	height: 100%;
	text-align: center;
}
	
/* COMPONENTS */

/**
 *	DropdownContainer
 */
.ddwtContainer {
	max-width: 90%;
	position: relative;
}

.ddwtContainer .ddwtButton {
	padding: 10px;
	border: 1px solid transparent;
	font-size: .8em;
	color: #666666;
	background-color: #ffffff;
	position: relative;
	/* left: -25px; */
}

.ddwtContainer .ddwtButton:hover {
	border: 1px solid #c0c0c0;
}

.ddwtContainer .ddwtButton:focus {
	outline: none;
}

.ddwtContainer .ddwtButton i.arrow {
    border: solid #666666;
    border-width: 0 1px 1px 0;
    display: inline-block;
	padding: 3px;
	margin-left: 8px;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: relative;
	top: -3px;
	transition: 0.25s;
}


/**
 *	Features
 */
.features {
	/* font-style: italic; */
	background: transparent;
	transition: 0.5s;
	margin-top: -5px;
	font-family: 'Julius Sans One', sans-serif;
	/* font-family: 'Darker Grotesque', sans-serif; */
	/* font-family: 'Open Sans Condensed', sans-serif; */
	font-size: 1.2em;
	padding: 0 20%;

}

.features.light {
	color: #666666;
}

.features.dark {
	color: #b3b3b3;
	/* background: transparent; */
}

/**
 *	Image
 */
.image-container {
	overflow: hidden;
	position: relative;
}

.image-container img {
	position: relative;
	height: 100%;
	width: 100%;
}

.image-container .image-text {
	position: absolute;
	width: 90%;
	height: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,5);
	transition: 0.25s;
	overflow: hidden;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image-container:hover .image-text {
	height: 90%;
	background: rgba(0,0,0,0.5);
	padding: 5px;
}

/**
 *	LinkRenderer
 */
a,
a:visited {
	color: #319abb;
	text-decoration: none;
	transition: 0.25s;
}

a.external-link {
	background: rgba(255,255,255,0.75);
	margin: 0 5px;
	padding: 0 5px;
	border-radius: 3px;
}

a.external-link::after {
    font-style: normal;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f35d";
	padding-left: 10px;
}

a:hover {
	color: #61caeb;
}

a.external-link:hover {
	background: #fff;
}

a.no-style {
	color: inherit;
	text-decoration: none;
	background: transparent;
	margin-right: inherit;
	padding: inherit;	
}

a.no-style:hover {
	background: transparent;
}

/**
 *	Menu
 */
.menu {
	position: fixed;
	height: 100vh;
	width: 0;
	left: 0;
	top: 0;
	z-index: 10;
	margin: 0;
	background: rgba(0,0,0,0);
	transition: background 0.5s;
	text-align: center;
}

.menu.active {
	background: rgba(0,0,0,0.5);
	width: 100vw;
}

.menu .menu-icon {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0);
	z-index: 15;
	padding: 10px;
	background-color: #008000;
	width: 50px;
	height: 50px;
	border-radius: 0 10px 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu .menu-icon:hover {
	background-color: #33a033;
	color: #fff;
}

.menu.active .menu-icon {
	background-color: #ff0000;
	transform: translateX(75vw);
	box-shadow: 5px 10px 5px rgba(0,0,0,0.5);
}

.menu.active .menu-icon:hover {
	background-color: #ff6666;
}

.menu .menu-content {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	height: 100vh;
	width: 75vw;
	z-index: 10;
	transform: translateX(-100%);
	background: white;
}

.menu.active .menu-content {
	transform: translateX(0);
	box-shadow: 5px 0 5px rgba(0,0,0,0.5);
}

.menu .menu-content .name i.fas {
	margin: 0 10px;
	font-size: 0.8em;
}

.menu .menu-content,
.page-content-background,
.page-content,
.menu .menu-icon {
	transition: 0.5s;
}

.menu .social-media-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

/**
 *	OptionPanel
 */
.op-container {
	background-color: #ffffff;
	border: 1px solid #ffffff;
    padding: 5px 0 0;
    margin: 0 auto;
    color: #666666;
    font-size: .8em;
	box-shadow: 1px 2px 10px #0000001f;
	position: relative;
	top: -1px;
}

ul.op-ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

li.op-li {
	margin: 5px 0;
	padding: 5px;
	border-radius: 2px;
}

li.op-li:hover {
	background-color: cornflowerblue;
	color: #ffffff;
}

li.op-li.checked {
	font-weight: bolder;
}

li.op-li.checked i.fas {
	color:greenyellow;
}

input.op-input {
	padding: 5px;
	width: 80%;
	margin: 5px;
	margin-bottom: '5px';
	font-family: inherit;
	color: inherit;
	border-radius: 3px;
	border-width: 1px;
}

/**
 *	PlayList
 */
.page-header {
	margin: 100px 0;
	text-align: center;
}

.page-header .section-title {
	font-size: 4em;
	font-family: 'Gruppo', cursive;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	margin-right: -0.25em;
}

/**
 *	PlayList
 */
.playlist,
.playlist .listitem {
	display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50%;
	justify-items: stretch;
	align-items: stretch;
}

.playlist {
	grid-template-areas: 
		"list video"
		"desc video";
	grid-gap: 15px 10px;
	padding: 10px 10px 10px 0;
	background: transparent;
}

.playlist .listings {
	grid-area: list;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
}

.playlist.light .listings {
	background: rgba(255,255,255,0.8);
}

.playlist.dark .listings {
	background: rgba(0,0,0,0.8);
}

.playlist .description {
	grid-area: desc;
	padding-left: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.playlist .video {
	grid-area: video;
}

.playlist .listitem {
	grid-template-areas: 
		"image txt";
	grid-column-gap: 10px;
	margin-bottom: 10px;
	padding: 5px;
	transition: 0.25s;
}

.playlist .listings .listitem:nth-last-child(1) {
	margin-bottom: 0;
}

.playlist.light .listitem {
	background: #dddddd;
}

.playlist.light .listitem:hover {
	background: #ffffdd;
}

.playlist.dark .listitem {
	background: #717171;
	color: #dfdfdf;
}

.playlist.dark .listitem:hover {
	background: #aaaa71;
	color: #eeeeee;
}

.playlist .listitem.active {
	font-weight: 900;
}

.playlist.light .listitem.active {
	background: #afafff;
	color: #ffffff;
}

.playlist.dark .listitem.active {
	background: #3333dd;
	color: #ffffff;
}

.playlist .listitem .image {
	grid-area: image;
}

.playlist .listitem .image img {
	border-radius: 10px;
}

.playlist .listitem .text {
  grid-area: txt;
}

/**
 *	SocialMediaButton
 */
.social-media-button {
	display: flex;
	padding: 5px 20px;
	align-items: center;
	justify-content: center;
}

.social-media-button,
.social-media-button .icon {
	transition: 0.5s;
}

.social-media-button button.icon-button {
	position: relative;
}

.social-media-button .icon {
	padding: 5px;
}

.social-media-button.github .icon {
	color: #23292D;
}

.social-media-button.linkedin .icon {
	color: #0073AF;
}

.social-media-button.stackoverflow .icon {
	color: #F48023;
}

.social-media-button.github:hover {
	background: #23292D;
}

.social-media-button.linkedin:hover {
	background: #0073AF;
}

.social-media-button.stackoverflow:hover {
	background: #F48023;
}

.social-media-button:hover,
.social-media-button:hover .icon {
	color: #ffffff;
}

/**
 *	TwoColumns
 */
.two-columns {
	display: flex;
}

.two-columns .left-column,
.two-columns .right-column {
	flex: 0 0 50%;
	display: flex;
	justify-content: center;
}

/**
 *	YouTube
 */
.youtube-image-container {
	position: relative;
}

.youtube-image-container .youtube-image {
	position: relative;
	z-index: 1;
}

.youtube-image-container .youtube-cover-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0.5;
	cursor: pointer;
}

.youtube-video-container {
	width: 100%;
	position: relative;
}

.youtube-inner-container {
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
    margin-bottom: 15px;
}

.youtube-inner-container iframe,
.youtube-inner-container object,
.youtube-inner-container embed,
.youtube-inner-container document {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* GAMES */
.game-layout {
	display: flex;
	flex-flow: row wrap;
	padding: 10px;
	border-width: 1px;
	margin-bottom: 10px;
	transition: 0.5s;
}

.game-layout.light {
	background: rgba(255,255,255,1);
}

.game-layout.dark {
	background: rgba(0,0,0,1);
}

.game-layout .game-header {
	flex: 0 0 100%;
	transition: 0.5s;
}

.game-layout .game-header:hover {
	color: #1fc8db;
}

.game-layout .game-header i {
	margin: 10px 10px 0;
}

.game-layout .game-example,
.game-layout .game-description {
	overflow: hidden;
	height: 0;
}

.game-layout.active .game-example,
.game-layout.active .game-description {
	height: auto;
	flex: 1 1 50%;
}

.game-layout .game-description {
	padding: 0 10px;
}
