.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #666666;
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
 *	Global Tag Styles
 */
*,
body {
	font-size: calc(6px + 2vmin);
	margin: 0;
	padding: 0;
}

div {
	/* margin: 10px 0; */
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

/**
 *	LAYOUT
 */
.app {
	padding: 0 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #666666;
}

.side-padding-small {
	padding-left: 5px;
	padding-right: 5px;
}

/**
 *	COLORS
 */
.black-text {
	color: #3a3a3a;
}

.light {
	background: #fafafa;
	color: #3a3a3a;
}

.dark {
	background: #1f1f1f;
	color: #f1f1f1;
}

/**
 *	Hover Effects
 */
.pointer {
	cursor: pointer;
}
	
/* CONTEXT */	
.context-content {
	transition: 0.5s;
}

.context-content.highlight {
	background: rgba(255,255,0,0.5);
}

.context-controller {
	position: absolute;
	top: 0;
	left: 0;
	background: #6a6a6a;
	border: #ffffff solid 3px;
	border-radius: 10px;
	width: auto;
	z-index: 5;
}

.context-controller-toggle {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	background: red;
	width: auto;
	padding: 5px;
}
	
/* COMPONENTS */

/**
 *	Image
 */
.image-container {
	overflow: hidden;
	position: relative;
}

.image-container img {
	position: relative;
	height: 100%;
	width: 100%;
}

.image-container .image-text {
	position: absolute;
	width: 90%;
	height: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,5);
	transition: 0.25s;
	overflow: hidden;
	padding: 0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image-container:hover .image-text {
	height: 90%;
	background: rgba(0,0,0,0.5);
	padding: 5px;
}

/**
 *	Menu
 */
.menu {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	margin: 0;
}

.menu .menu-icon {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}

.menu .menu-content {
	overflow: hidden;
	position: absolute;
	left: -100vw;
	top: 0;
	transition: 0.5s;
	margin: 0;
	height: 100vh;
	width: 100vw;
	z-index: 10;
}

.menu.active .menu-content {
	left: 0;
}

/**
 *	YouTube
 */
.youtube-image-container {
	position: relative;
}

.youtube-image-container .youtube-image {
	position: relative;
	z-index: 1;
	opacity: 0.5;
}

.youtube-image-container .youtube-cover-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0.5;
	cursor: pointer;
}

.youtube-video-container {
	width: 100%;
	position: relative;
}

.youtube-inner-container {
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
    margin-bottom: 15px;
}

.youtube-inner-container iframe,
.youtube-inner-container object,
.youtube-inner-container embed,
.youtube-inner-container document {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
