@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Wallpoet");
@import url("https://fonts.googleapis.com/css?family=Syncopate");

.games-focus {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.games-focus div {
    width: unset;
}

.games-focus .play {
    font-size: 4em;
    letter-spacing: 10px;
    font-weight: bold;
    color: orange;
    padding: 20px 40px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 90%;
    text-align: center;
}

.games-focus .previous-score {
    font-size: 2em;
}

.games-focus .game {
    width: 100%;
    /* height: 100%; */
    position: relative;
    overflow: hidden;
    background: #000;
    padding-bottom: 56.25%;
	height: 0;

}

.games-focus .game .background {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    position: absolute;
    top: -5;
    left: -5;
    z-index: 0;
    transition: 1s;
    overflow: hidden;
}

.games-focus .game .character {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 5;
    max-height: 75%;
    max-width: 75%;
}

.games-focus .game .overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.games-focus .game .overlay-container .top,
.games-focus .game .overlay-container .bottom,
.games-focus .game .overlay-container .left,
.games-focus .game .overlay-container .right,
.games-focus .game .overlay-container .center,
.games-focus .game .overlay-container .black-bottom {
    position: absolute;
}

.games-focus .game .overlay-container .top,
.games-focus .game .overlay-container .bottom,
.games-focus .game .overlay-container .black-bottom {
    width: 100%;
}

.games-focus .game .overlay-container .left,
.games-focus .game .overlay-container .right {
    height: 100%;
}

.games-focus .game .overlay-container .top {
    top: 0;
}

.games-focus .game .overlay-container .bottom {
    bottom: 10%;
}

.games-focus .game .overlay-container .black-bottom {
    background: #202020;
    bottom: 0;
    height: 11%;
}

.games-focus .game .overlay-container .left {
    left: 0;
}

.games-focus .game .overlay-container .right {
    right: 0;
}

.games-focus .game .overlay-container .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}

.games-focus .options-container {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: 75%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.games-focus .options-container .option {
    box-sizing: border-box;
    flex: 1 1 40%;
    background: #aaa;
    border-radius: 5px;
    color: #000;
    font-size: 1.2em;
    padding: 2%;
    margin: 2%;
    font-weight: 200;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.games-focus .options-container .option:hover {
    background: #9999cc;
    color: #fff;
    cursor: pointer;
}

.games-focus .round {
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.5em;
    z-index: 15;
    font-family: "Syncopate", sans-serif;
}

.games-focus .timer {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 3em;
    z-index: 15;
    font-family: "Wallpoet", cursive;
    font-weight: 500;
}

.games-focus .score {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.5em;
    z-index: 15;
    font-family: "Syncopate", sans-serif;
}

.games-focus .round-score {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    width: 90%;
    z-index: 25;
    border-radius: 25px;
}

.games-focus .round-score th {
    text-align: center;
    font-size: 6em;
}

.games-focus .round-score td {
    font-size: 2em;
    padding: 10px 25px;
}

.games-focus .round-score td:nth-child(1) {
    text-align: left;
}

.games-focus .round-score td:nth-child(2) {
    text-align: right;
}

.games-focus th.big-red-x {
    color: #f00;
    font-size: 8em;
    text-align: center;
}

.games-focus .white-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    background: #fff;
}

@media (orientation: landscape) {
    .games-focus .options-container {
        top: unset;
        left: unset;
        right: 4%;
        bottom: 25%;
        transform: translateX(0);
        width: 20%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .games-focus .options-container .option {
        flex: 1 1 auto;
        width: 90%;
        margin: 5%;
    }

    .games-focus .game .overlay-container .bottom {
        bottom: 0;
    }

    .games-focus .game .overlay-container .black-bottom {
        height: 0;
    }

    .games-focus .game .character {
        max-width: 90%;
    }

    .games-focus .round-score {
        width: 75%;
    }

    .games-focus .round {
        left: 10%;
        transform: translateX(0);
    }

    .games-focus .score {
        right: 10%;
        left: unset;
        transform: translateX(0);
    }
}

@media (min-width: 480px) {
    .games-focus .play {
        font-size: 10em;
        letter-spacing: 25px;
    }

    .games-focus .previous-score {
        font-size: 3em;
    }

    .games-focus .options-container .option {
        font-size: 1.3em;
    }

    .games-focus .round {
        font-size: 1.5em;
        bottom: 2%;
    }

    .games-focus .timer {
        bottom: 0;
        font-size: 3.5em;
        line-height: 1.5em;
    }

    .games-focus .score {
        font-size: 1.5em;
        bottom: 2%;
    }

    .games-focus .round-score th {
        font-size: 4em;
    }

    .games-focus .round-score td {
        font-size: 2em;
        padding: 10px 25px;
    }

    .games-focus th.big-red-x {
        font-size: 7em;
    }
}

@media (min-width: 768px) {
    .games-focus .play {
        font-size: 8em;
    }

    .games-focus .previous-score {
        font-size: 4em;
    }

    .games-focus .options-container {
        right: 7%;
    }

    .games-focus .options-container .option {
        font-size: 32px;
    }

    .games-focus .round,
    .games-focus .score {
        font-size: 24px;
        bottom: 2%;
    }

    .games-focus .timer {
        font-size: 56px;
        line-height: inherit;
        bottom: 5%;
    }

    .games-focus .round-score th {
        font-size: 32px;
    }

    .games-focus .round-score td {
        font-size: 48px;
        padding: 10px 25px;
    }

    .games-focus th.big-red-x {
        font-size: 120px;
    }
}

/* @media (min-width: 1024px) {
    .games-focus .play {
        font-size: 12em;
        transition: 2s;
    }

    .games-focus .play:hover {
        color: orangered;
        letter-spacing: 100px;
    }

    .games-focus .previous-score {
        font-size: 5em;
    }

    .games-focus .options-container .option:hover {
        background: #9999cc;
        color: #fff;
        cursor: pointer;
    }

    .games-focus .options-container .option {
        font-size: 1.5em;
    }

    .games-focus .round {
        font-size: 2em;
        bottom: 1%;
    }

    .games-focus .timer {
        font-size: 6em;
        line-height: 1.1em;
        bottom: 0;
    }

    .games-focus .score {
        font-size: 2em;
        bottom: 1%;
    }
}

@media (min-width: 1280px) {
    .games-focus .play {
        font-size: 20em;
    }

    .games-focus .options-container .option {
        font-size: 2em;
        margin: 5%;
    }

    .games-focus .round {
        font-size: 3em;
        bottom: 2%;
    }

    .games-focus .timer {
        font-size: 10em;
        line-height: inherit;
        bottom: 0;
    }

    .games-focus .score {
        font-size: 3em;
        bottom: 2%;
    }

    .games-focus .round-score th {
        font-size: 12em;
    }

    .games-focus .round-score td {
        font-size: 6em;
        padding: 10px 25px;
    }

    .games-focus th.big-red-x {
        font-size: 16em;
    }
} */
